
html, body {
	margin: 0;
	padding: 0;
}

img{
	position: relative;
	display: block;
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	top: 20px;
}

a{
	text-decoration: none;
	color: gray;
}

form{
	margin-bottom: 0px;
}

input{
	width: 100%;
	border: 0px;
}
input:focus{
	border-color: #4D9EF0;
	outline: 0;
	box-shadow: none;
	max-width: 100%;
}

.header {
	overflow: hidden;
	background-color: white;
	width: 100%;
	height: 80px;
}

.link_head{
	display: inline;
	float: right;
	padding-top: 10px;
	width: 407px;
	height: 30px;
	vertical-align: middle;
}

.head_link_sqr{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 50%;
}

#round{
	display: inline-block;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	font-size: 0;
	text-align: center;
	background: url(http://sweetfrogyogurt.com/images/uploads/updated-flavors/Pumpkin-Pie.jpg);
	background-size: cover;
}

.middle{
	position: fixed;
	/*border: 1px dotted pink;*/
	width: 100%;
	height: 70%;
}

.logo_cont{
	padding-top: 112px;
	padding-bottom: 20px;
	width: 269px;
	height: 95px;
}

.form_cont{
	/*border: 1px dotted blue;*/
	width: 571px;
	height: 88px;
	margin: 0 auto;
	margin-top: 1%;
}

.input_cont{
	border: 1px solid gray;
	width: 571px;
	height: 20px;
}

.google_input{
	font: 16px Arial, sans-serif;
	line-height: 1.2em;
	height: 1.2em;
}

.button_cont{
	/*border: 1px dotted pink;*/
	padding-top: 2px;
	width: 571px;
	height: 63px;
}

.submit_but{
	border: 1px solid rgba(0,0,0,0.1);
	width: 96px;
	min-height: 30px;
	background-color: #f5f5f5;
	border-radius: 2px;
	font: 11px Arial Bold, sans-serif;
	font-weight: bold;
	margin: 11px 8px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	line-height: 30px;

}

.footer{
	border: 1px solid rgba(0, 0, 0, .1);
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
	background-color: #f2f2f2;
}

.foot_link_left{
	display: inline;
	padding-left: 20px;
	vertical-align: middle;
	text-align: left;
	float: left;
}

.foot_link_right{
	display: inline;
	padding-right: 20px;
	vertical-align: middle;
	text-align: right;
	float: right;
}

.foot_link_left_cont{
	/*border: 1px dotted black;*/
	height: 35px;
	width: 407px;
	float: left;
}

.foot_link_right_cont{
	/*border: 1px dotted black;*/
	height: 35px;
	width: 407px;
	float: right;
}

#footer_link{
	/*border: 1px solid black;*/
	font-family: Arial Narrow;
	font-size: small;
	display: inline;
	text-decoration: none;
	color: gray;
	margin-top: 10px;

}

#header_link{
	font-family: Arial Narrow;
	display: inline;
	text-decoration: none;
	text-align: right;
	margin-right: 20px;
	color: gray;
}
